<!DOCTYPE html>
<html>
    <head>
        <title>BhoFood</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to BhoFood!</h1>
		<a href="/menu" class="btn btn-lg btn-success">View Our Menu</a>
        <p>
            <form action="/menu" method="GET" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Search a Dish">
                    <input class="btn btn-default" type="Submit" value="Search" class="">
                </div>
            </form>
        </p>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
